# Python
__pycache__/
*.py[cod]
*$py.class
*.so
python_venv/
venv/
ENV/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# IDE
.idea/

*.swp
.DS_Store

# Java/Android
build/
.gradle/
local.properties
*.apk
*.ap_
*.iml